<IfModule mod_rewrite.c>
# Activar RewriteEngine
RewriteEngine on
#RewriteBase /albanicarcore
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
# Reescribir la URL solicitada por el usuario
#   Entrada:  CONTROLLER/ID/TITLE
#   Salida: pruducto.php?id=ID&title=NOMBRE
RewriteRule ^(\w+)/?$ ./app/router.php?controller=$1
#RewriteRule ^([a-zA-Z]*)/([0-9]+)/?$ ./app/router.php?controller=$1&id=$2
RewriteRule ^(\w+)/(\w+)/?$ ./app/router.php?controller=$1&params=$2
#RewriteRule ^([a-zA-Z]*)/([a-zA-Z0-9-]*)/?$ ./app/router.php?controller=$1&params=$2
</IfModule>

# para nombre de host
#HostnameLookups On